:root{
    --full-width: 100%;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
.order-main-image img{
    width: var(--full-width);
    height: 350px;
}
.cart-page{
    margin: 40px auto;
    padding: 40px;
    justify-content: center;
}
.cart-page td{
    padding: 10px;
    border-bottom: 0.5px solid darkgreen;
}
.cart-page th{
    padding: 5px;
}
table{
    width: var(--full-width); 
    border-collapse: collapse;
} 
.cart-info{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}  
.info{
    display: flex;
    flex-direction: column;
} 
.info p{
    font-size: 0.9rem;
    font-weight: 600;
}
th{
    text-align: left;
    padding: 5px;
    font-weight: 400;
    background-color: #13833e;
    color: white;
}
td{
    padding: 10px 5px;
    background-color: rgb(242, 242, 242);
}
td input{
    width: 50px;
    height: 30px;
    padding: 5px;
}
td a{
    color: darkgreen;
    font-size: 12px;
}
td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
    
}
.total-price table{
    border-bottom: 3px solid darkgreen;
    width: var(--full-width);
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.total-price td{
    padding: 10px;
}
.total-price .head{
    font-weight: bold;
}
.proceed{
    float: right;
    padding: 10px;
    background-color: darkgreen;
    margin-top: 10px;
    width: 400px;
    text-align: center;
}
.proceed a{
    color: white;
    text-decoration:none;
}
}

@media(max-width:700px){
    .cart-page .proceed{
        width: var(--full-width);
    }
    main .order-main-image img{
        width: var(--full-width);
        height: 150px;
    }
}
@media(max-width:550px){
    .info p{
        display: none;
    }
}