:root{
    --clr-light: #fff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
.payment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    padding-bottom: 50px;
    margin-top: 20px;
}    
.payment-container form{
    padding: 20px;
    width: 800px;
    background-color: #e0e0e0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.payment-container form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.payment-container form .row .col{
    flex: 1 1 250px
}
.payment-container form .row .col .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
}
.payment-container form .row .col .inputBox{
    margin: 15px 0;
}
.payment-container form .row .col .inputBox span{
    margin-bottom: 5px;
    display: block;
}
.payment-container form .row .col .inputBox input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    outline: none;
}
.payment-container form .row .col .inputBox input:focus{
    border: 1px solid #000;
}
.payment-container form .row .col .flex{
    display: flex;
    gap: 15px;
}
.payment-container form .row .col .flex .inputBox{
    margin-top: 5px;
}
.payment-container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
}
.payment-container form .submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 15px;
    background-color: #015001;
    color: var(--clr-light);
    outline: none;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}
.payment-container form .submit-btn:hover{
    background-color: #023f02;
    color: var(--clr-light);
}
}